<%- include('./partials/header')%>


<div class="form">
  <form action="/" method="GET" >
    <button>Become Enlightened</button>
  </form>
</div>

  <div id="ye">
    <%= ye%>
  </div>
<%- include('./partials/footer')%>
